@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "SpaceMono", monospace, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'SpaceMono';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url('SpaceMono-Bold.ttf') format('truetype');
}
